<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
   <%- include('./partials/header.ejs') %>
   <h1 class="indextitulo">
    <%= title %>
</h1>
<br>
<div class="d-flex flex-wrap justify-content-center gap-4"> <!-- Agregar div que contiene las cards -->
    <% genres.forEach(genre=> { %>
    <div class="card mb-4" id="list__card">
        <a href="/genres/detail/<%= genre.id %>" class="list_hiper">
        <img src="/img/genres/<%= genre.image %>"  id="list__img" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"><%= genre.name %></p>
        </div>
    </div>
</a>
    <% }) %>
</div>
<%- include('./partials/scrips.ejs') %>
<%- include('./partials/footer.ejs') %>
</body>

</html>