<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <h1 class="detail__titulo">
        ¡Advertencia!
    </h1>

    <div class="detail__boxform">
    <h2 class="detail__subtitulo">Estas seguro de querer borrar esta película: <%= Movie.title %></h2>

    <h4 class="detail__subtitulo">Si la borras no la vas a poder recuperar, ¿Deseas continuar?</h4>

        <form action="/movies/delete/<%= Movie.id %>?_method=DELETE" method="POST">
          
            <div class="butoms_boxes"> 
                <button class="btn btn-danger" type="submit">Borrar la Película</button>
                <button type="button" class="btn btn-primary"><a class="add__butomms" href="/movies">cancelar</a></button>
            </div>
        </form>
    
</div>

    <%- include('./partials/scrips.ejs') %>
</body>

</html>