<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1 class="indextitulo">
        <%= title %>
    </h1>
    <br>
    <div class="d-flex flex-wrap justify-content-center gap-4"> <!-- Agregar div que contiene las cards -->
        <% movies.forEach(movie=> { %>
        <div class="card mb-4" id="list__card">
            <a href="/movies/detail/<%= movie.id %>" class="list_hiper">
            <img src="/img/Movies/<%= movie.image %>"  id="list__img" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="list__span"><%= movie.title %></span><br><br>
                <span>Raiting</span> <br>
                <%= movie.rating  %>
            </div>
        </div>
    </a>
        <% }) %>
    </div>
    <%- include('./partials/scrips.ejs') %>
<%- include('./partials/footer.ejs') %>
</body>
</html>